@model SportClub.Models.Trainer

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите продолжить удаление?</h3>
<fieldset>
    <legend>Trainer</legend>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.Image)</b>
    </div>
    <div class="display-field">
        <img alt="" width="80" height="80" src="@Url.Content(@Model.Image.ToString())"/>
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.FName)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FName)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.LName)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LName)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.Phone)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.Description)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.Data)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" />
        |
        @Html.ActionLink("Вернутся к списку", "Index")
    </p>
}
