@model SportClub.Models.PhytobarProducts

@{
    ViewBag.Title = "Добавить";
}

<h2>Добавить продукт</h2>

@using (Html.BeginForm("Create", "PhytobarProducts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PhytobarProducts</legend>

          <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            <input type="file" name="file1" id="file1" accept="image/*" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Products)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Products)
            @Html.ValidationMessageFor(model => model.Products)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Weight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Weight)
            @Html.ValidationMessageFor(model => model.Weight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Brand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Brand)
            @Html.ValidationMessageFor(model => model.Brand)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiscountsID, "Discounts")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DiscountsID", String.Empty)
            @Html.ValidationMessageFor(model => model.DiscountsID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
