@model IEnumerable<SportClub.Models.PhytobarProducts>

@{
    ViewBag.Title = "Список товаров";
}
<h2>Список товаров</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discounts.Comment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img alt="" width="100" height="100" title="@item.Products" src="@item.Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discounts.Comment)
            </td>
            <td>
                <a href="@Url.Action("Edit", "PhytobarProducts", new { id = item.PhytobarProductsID })">
                    <img style="width: 30px; height: 30px;" alt="Редактировать" title="Редактировать" src="~/Content/edit.png" /></a>
                <a href="@Url.Action("Details", "PhytobarProducts", new { id = item.PhytobarProductsID })">
                    <img style="width: 30px; height: 30px;" alt="Детали" title="Детали" src="~/Content/details.png" /></a>
                <a href="@Url.Action("Delete", "PhytobarProducts", new { id = item.PhytobarProductsID })">
                    <img style="width: 30px; height: 30px;" alt="Удалить" title="Удалить" src="~/Content/delete.png" /></a>

              @*  @Html.ActionLink("Edit", "Edit", new { id = item.PhytobarProductsID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PhytobarProductsID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PhytobarProductsID })*@
            </td>
        </tr>
    }

</table>
