@model SportClub.Models.Client

@{
    ViewBag.Title = "Додати";
}

<h2>Додати клієнта</h2>

@using (Html.BeginForm("Create", "Client", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Client</legend>

         <div class="editor-label">
            @Html.LabelFor(model => model.foto)
        </div>
        <div class="editor-field">
            <input type="file" name="file1" id="file1" accept="image/*" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FName)
            @Html.ValidationMessageFor(model => model.FName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LName)
            @Html.ValidationMessageFor(model => model.LName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Adress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adress)
            @Html.ValidationMessageFor(model => model.Adress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data)
            @Html.ValidationMessageFor(model => model.Data)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.activen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.activen)
            @Html.ValidationMessageFor(model => model.activen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TrainerID, "Тренери")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TrainerID", String.Empty)
            @Html.ValidationMessageFor(model => model.TrainerID)
        </div>
        <p>
            <input type="submit" value="Додати" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Повернутися до списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
