@model SportClub.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h2>Видалення</h2>

<h3>Ви впевнені, що хочете видалити клієнта?</h3>
<fieldset>
    <legend>Клієнт</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Adress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.foto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.foto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>

      <div class="display-label">
         @Html.DisplayNameFor(model => model.Data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.activen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.activen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Trainer.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Trainer.Image)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Видалити" /> |
        @Html.ActionLink("До списку", "Index")
    </p>
}
