@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Приглашаем всех к нам покорить свою вершину, приходите вместе с друзьями и близкими в тренажерные залы спортивного клуба Спарта. В спортивно-оздоровительном центре Спарта для каждого посетителя любой возрастной категории есть все необходимое для полноценного спорта и оздоровления.
Мы ждем Вас чемпионы, не зависимо от выбранной цели, вместе со спортивным клубом Спарта добьемся успеха в любой поставленной задаче, и каждый покорит свой Олимп в наших тренажерных залах.
Здоровья и удачи желает Вам весь наш коллектив спортивно-оздоровительного центра Спарта.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside >
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("О клубе", "About", "Home")</li>
        <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
    </ul>
</aside>
    