@{
    ViewBag.Title = "О клубе";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>

</hgroup>
<aside>
    <div class="tx">
        <h3>Меню</h3>
    </div>
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("О клубе", "About", "Home")</li>
        <li>@Html.ActionLink("Правила клуба", "Rules", "Home")</li>
        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
        <li>@Html.ActionLink("Фитобар", "Index", "PhytobarProducts")</li>
    </ul>
</aside>
<article>
    <p class="about">
        Приглашаем всех к нам покорить свою вершину, приходите вместе с друзьями и близкими в тренажерные залы спортивного клуба Спарта. В спортивно-оздоровительном центре "Спарта" для каждого посетителя любой возрастной категории есть все необходимое для полноценных занятий и оздоровления.
Мы ждем Вас, чемпионы, независимо от выбранной цели. Вместе со спортивным клубом Спарта добьемся успеха в любой поставленной задаче, и каждый покорит свой Олимп в наших тренажерных залах.
Здоровья и удачи желает Вам весь наш тренерский коллектив.
    </p>
    <h1>Новости</h1>
</article>
<br />
<table>
    <tr></tr>


</table>


<div class="about">
    <h3>«Спарта» – професійно, індивідуально, дружньо</h3>

    Спортивно-оздоровчий центр, який розташувався на першому поверсі новобудови на вулиці Завадського, працює вже більше трьох років. Площа для занять розділена на дві частини: для силових та кардіотренувань. І хоч зал візуально здається не дуже великим, але тренажерів тут насправді багато. 
За словами тренера Павла, в «Спарті» є повний набір «заліза» для того, щоб тренувати абсолютно всі групи м’язів. 
    <br />
    <a href="@Url.Action("News1", "Home")">
        <img class="Button" src="~/Content/more-button.png" /></a>
</div>
<div class="about">
    <h3>Жити активно</h3>

    <b>“Тут навіть новачки почуваються комфортно і впевнено”</b>
Зараз у нашому місті існують десятки спортивних клубів, фітнес-центрів та 
інших закладів, де хмельничани можуть підтримувати гарну фізичну форму. 
Крім зручного територіального розташування на вибір клубу впливають й інші 
фактори. Ми розпитали клієнтів спортивно-оздоровчого центру “Спарта”, чому 
вони ходять саме сюди.
   <br />
    <a href="@Url.Action("News2", "Home")">
        <img class="Button" src="~/Content/more-button.png" /></a>
</div>
