@{
    ViewBag.Title = "Главная";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">

            <hgroup class="title">
                @*  <h1>@ViewBag.Title.</h1>*@

            </hgroup>
            <p>
                <b>К Вашым услугам спортивно-оздоровительный центр "Спарта" Всё, что Вы искали, находится у нас!</b>
            </p>
            <p><b>Посетите наш центр и Вы не пожалеете !</b></p>
        </div>
    </section>
}

<table class="al">
    <tr>
        <td class="tab">
            <img class="im" alt="тренажеры" title="тренажеры" src="~/Content/title/Trenajoru.jpg" /></td>
        <td class="tab">
            <img class="im" alt="Кардио-тренажеры" title="Кардио-тренажеры" src="~/Foto/Images/IMG_2165.JPG" /></td>
        <td class="tab">
            <img class="im" alt="Фитобар" title="Фитобар" src="~/Content/forWeb/2014-08-14%2018.51.15.jpg" /></td>
    </tr>
    <tr>
        <td class="tx"><a href="@Url.Action("Sila", "Home")">Профессиональные силовые тренажеры</a></td>
        <td class="tx"><a href="@Url.Action("Kardio", "Home")">Кардио-тренажеры (беговые дорожки, орбитрек, велотренажер, стэн)</a></td>
        <td class="tx"><a href="@Url.Action("Index", "PhytobarProducts")">Фитнес бар, спортивное питание</a></td>
    </tr>
    <tr>
        <td class="tab">
            <img class="im" alt="" src="~/Foto/Images/IMG_2189.JPG" /></td>
        <td class="tab">
            <img class="im" alt="" src="~/Foto/Images/IMG_2170-1.JPG" /></td>
        <td class="tab">
            <img class="im" alt="Раздевалка" title="Раздевалка" src="~/Content/forWeb/2014-08-14%2018.53.15.jpg" /></td>
    </tr>
    <tr>
        <td colspan="2" class="tx"><a href="@Url.Action("Index", "Trainer")">Опытные тренера, индивидуальные программы тренування для всех возрастов</a></td>

        <td class="tx"><a href="@Url.Action("Room", "Home")">Современные комфортные условия (женские и мужские раздевалки, душевые кабины)</a> </td>
    </tr>
</table>

@*<a href=@Url.Action("About", "Home")>
    <img src="~/Images/facebook.png" alt="Alternate Text" />
</a>*@

@*Chart*@
@*<div>
    <img src="@Url.Action("Chart")" />
</div>*@
