@model SportClub.Models.Ticket

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Ticket</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameTicket)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameTicket)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.numberOfLesson)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numberOfLesson)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SportHalls.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SportHalls.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Discounts.DiscountsID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discounts.DiscountsID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
